#resultado {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #2980b9;
}