* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

h3,
h4 {
    margin-bottom: 3%;
}

.bgcolor {
    background-color: yellow;
    border: 1px solid black;

}

img {
    width: 200px;

}

#mensajeError {
    color: red;
}



#formOculto
{
    display: none;
    text-align: right;
    margin-right: 8%;
    margin-bottom: 3%;
}
